body {
  background-color: #f4f4f4;

  .app-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
  }

  .navbar{
    margin-bottom: 0;
  }

  .search-panel {
    padding: 10px;
  }

  .empty-link {
    cursor: pointer;
  }

  .search {
    max-width: 180px;

    .border-fix {
      border-right: 0;
    }
  }

}


