doctype html
html
  head
    title= 'TITLE'
    link(rel='stylesheet', href='/css/lib.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    div#root
    script(src="/js/lib.js")
    script(src="/js/build.js")
